<style>
body{
    font-family: Arial, sans-serif;
    background-color: blueviolet;
    text-align:center
    margin: 20px auto;
}
botton{
    background-color: palegreen;
}
.product-box{
    background-color: lightyellow;
    width:30px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid orange;
    border-radius: 8px;
}

</style>